<a href="https://colab.research.google.com/github/AJSTYLE-lab/Fundamental-of-BIg-Data-Analysis/blob/main/BIG%20DATA%20LABS/LAB%231/L_217692%2CPART_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task1:

In [ ]:

def FUNCTION_TO_PRINT_TRIANGLE():
   for i in range(12):
    for j in range(12-i):
        print(' ', end='') # printing space required and staying in same line
    
    for j in range(2*i+1):
        if j==0 or j==2*i or i==12-1:
            print('*',end='')
        else:
            print(' ', end='')
    print() # printing new line
#*************#
print("1.Triangle.\n2.Rectangle.")
choice=input("ENTER CHOICE=")
if int(choice)==1:
  FUNCTION_TO_PRINT_TRIANGLE()
elif int(choice)==2:
  row = int(input("Enter number of rows: "))
  col = int(input("Enter number of columns: "))

  print("Hollow rectangular pattern is: ")
  for i in range(1,row+1):
    for j in range(1,col+1):
        if i==1 or i==row or j==1 or j==col:
            print("*", end="")
        else:
            print(" ", end="")
    print()

1.Triangle.
2.Rectangle.
ENTER CHOICE=1
            *
           * *
          *   *
         *     *
        *       *
       *         *
      *           *
     *             *
    *               *
   *                 *
  *                   *
 ***********************

#Task 2:

In [ ]:
#**************************
DICT = {1: "AHMED", 2: "JAVED", 3: "LAHORE"}
print(DICT.keys())
print(DICT[3])
print(DICT.get(2))
DICT[3] = "ISLMABAD"
print("UPDATED DICTIONARY=", DICT)
print(" DICTIONARY LENGTH", len(DICT))
#*************************************
TUP= ()
print(TUP)

# Tuple having integers
TUP= (1, 2, 3)
print(TUP)

# tuple with mixed datatypes
TUP = (8, "Hello_WORLD!", 4.9)
print(TUP)

# nested tuple
TUP = ("keyboard", [6, 4,8], (3, 1,2))
print(TUP)
#******************accessing part
TUP = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

print(TUP[-3]) # prints 'z'
print(TUP[-2]) # prints 'm'

dict_keys([1, 2, 3])
LAHORE
JAVED
UPDATED DICTIONARY= {1: 'AHMED', 2: 'JAVED', 3: 'ISLMABAD'}
 DICTIONARY LENGTH 3
()
(1, 2, 3)
(8, 'Hello_WORLD!', 4.9)
('keyboard', [6, 4, 8], (3, 1, 2))
m
i

#TASK3:

In [ ]:
from math import pi
pi=22/7
height = float(input('Height of cylinder: '))
r = float(input('Radius of cylinder: '))
volume = pi * r * r * height
print(volume)

Height of cylinder: 2
Radius of cylinder: 2
25.142857142857142

:#Task4:

In [ ]:
def ADDITION(a,b):
  sum=0
  sum=int(a)+int(b)
  print("SUM=",int(sum),"\n******************************************")
  return sum
def SUBTRACTION(c,d):
  diff=0
  diff=int(c)-int(d)
  print("SUBTRACTION=",int(diff),"\n******************************************")
  return diff
def PRODUCT(i,j):
  p=0
  p=int(i)*int(j)
  print("MULTIPLICATION=",int(p),"\n******************************************")
  return p
def DIVISION(x,y):
  div=0
  div=int(x)/int(y)
  print("DIVISION=",int(div))
  return div
#***************************
print("1.FOR ADDITION.\n2.FOR SUBTRACTION.\n3.FOR MULTIPLICATION.\n4.FOR DIVISION.")
choice=input("ENTER CHOICE.")
print("ENTER NUMBER 1=")
number_one=input()
print("ENTER NUMBER 2=")
number_two=input()
if int(choice)==1:
  ADDITION(number_one,number_two)
elif int(choice)==2:
  SUBTRACTION(number_one,number_two)
elif int(choice)==3:
  PRODUCT(number_one,number_two)
elif int(choice)==4:
  DIVISION(number_one,number_two)

1.FOR ADDITION.
2.FOR SUBTRACTION.
3.FOR MULTIPLICATION.
4.FOR DIVISION.
ENTER CHOICE.1
ENTER NUMBER 1=
10
ENTER NUMBER 2=
2
SUM= 12
******************************************

#Task5:

In [ ]:
def func_to_check_palindrome (parameter):

              for k in range (0, int (len (parameter)/2)):

                             if parameter [k] != parameter [len (parameter) -k-1]:

                                            return False 

                             return True

str_1 = input ("Enter a string.")

ans = func_to_check_palindrome (str_1)

if (ans):

              print ("Yes, it is a palindrome.")

else:

              print ("No, it is not a palindrome.")

Enter a string.HELLO I  AM AHMED JAVED
No, it is not a palindrome.

#Task6

In [ ]:

number = int(input("ENTER NUMBER="))
f = 1
if int(number) < 0:
   print("FACTORIAL OF NEGATIVE NUMBER DOES NOT EXIST.")
else:
   for k in range(1,number + 1):
       f = f*k
   print("FACTORIAL OF",number,"=",f)

ENTER NUMBER=3
FACTORIAL OF 3 = 6

#Task 7:

In [ ]:
def ARE_THEY_SAME(L1,L2):
  print(L1,L2)
  if(L1==L2):
    return True
  else:
    return False


l1 = [10, 20, 30, 40, 50] 
l2 = [20, 30, 50, 40, 70] 
print(ARE_THEY_SAME(l1,l2))

[10, 20, 30, 40, 50] [20, 30, 50, 40, 70]
False

#Task8:

In [ ]:
SET= {100,200,300,400,150}
print("ORIGINAL SET= ",SET)
print("SET IS SUPERSET?")
print(SET.issuperset(SET))
SET_1 = {100, 200, 300, 40, 55, 17}
SET_2= {212, 140}
SET_3= {29, 49}
print("\nSET_ONE=", SET_1,"\nSET_TWO=", SET_2,"\nSET_THREE=",SET_3)
print(SET_1,"is superset of",SET_2)
print(SET_1>SET_2)
print("COMPARE",SET_2,"and",SET_3)
print(SET_2,"SUPERSET OF",SET_3)
print(SET_2>SET_3)
print(SET_3," IS SUPERSET OF",SET_2)
print(SET_3>SET_2)

ORIGINAL SET=  {100, 200, 300, 400, 150}
SET IS SUPERSET?
True

SET_ONE= {100, 200, 40, 300, 17, 55}
SET_TWO= {140, 212}
SET_THREE= {49, 29}
{100, 200, 40, 300, 17, 55} is superset of {140, 212}
False
COMPARE {140, 212} and {49, 29}
{140, 212} SUPERSET OF {49, 29}
False
{49, 29}  IS SUPERSET OF {140, 212}
False